<ul class="breadcrumbs">
            <li><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li>Editar Capa</li>
        </ul>
          <div class="pageheader">

            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Painel de Controle</h5>
                <h1>Editar Capa</h1>
            </div>
        </div><!--pageheader-->
		<div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
			
            </div>
<%= render 'form' %>


                
                </div><!--row-fluid-->
				</div>
				</div>

