                 <li class="right">
              
               <div class="userloggedinfo">
                        <img src="photos/thumb1.png" alt="" />
                        <div class="userinfo">
                            <h5>Sergio Oliveira<small>- sergio@studiosmedia.com.br</small></h5>
                            <ul>
                                <li><%= link_to "Editar Perfil", edit_admin_registration_path %></li>
                                <li><%= link_to "Logout", logout_path %> </li>
                            </ul>
                        </div>
                    </div>
				 </li>	